<!-- 기본설정 -->
<div class="container" style="text-align: center;">
    <flash-messages></flash-messages>
</div>

<!-- 스타일 -->
<style>
    a:link {
        text-decoration: none;
        color: black;
    }

    a:visited {
        text-decoration: none;
        color: black;
    }

    #abc:focus {
        border-color: gray;
        box-shadow: 0 0 0 .1rem rgb(150, 150, 150);
    }
</style>

<!-- 폰트 -->
<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">

<!-- 메인 -->
<div class="container" style="height: 700px; background-color: white; padding:170px 10px 120px 10px; width: 700px;">
    <div class="container" style="text-align: center;">
        <a href="/" style="font-family: 'Acme', sans-serif; font-size: 70px; color:#044886;">Eraser.T</a>
        <div class="row" style="padding:10px 10px 0 10px; margin:10px 10px 0 10px;">
            <div class="col-md-8" style="margin: 0 auto; padding:15px 15px 0 15px">

                <!-- 인증번호 요청 -->
                <form (ngSubmit)="emailsend()">
                    <div class="input-group mb-3">
                        <input id="abc" type="text" class="form-control" placeholder="이메일"
                            aria-label="Recipient's username" aria-describedby="button-addon2" name="semail"
                            [(ngModel)]="semail">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2"
                                >인증번호 요청</button>
                        </div>
                    </div>
                </form>

                <!-- 인증확인 -->
                <form (ngSubmit)="emailcert()">
                    <div class="form-group">
                        <input id="abc" type="text" class="form-control" name="cert" [(ngModel)]="cert"
                            placeholder="인증번호" />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-secondary btn-lg btn-block">인증번호
                            확인</button>
                    </div>
                </form>

                <!-- 부가적 링크 -->
                <div style="border-top:1px solid #8e8e8e; padding-top: 15px; margin-top: 35px;">
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <footer>
        <div class="container">
            <p style="text-align:center; padding: 10px; font-size: 13px; margin: 0 auto;">Copyright &nbsp;©
                &nbsp;Eraser.T
                Corp. &nbsp;All rights reserved.</p>
        </div>
    </footer>
</div>